server {
  listen              443 ssl;
  server_name         ${DOMAIN};
  ssl_certificate     /etc/letsencrypt/live/${DOMAIN}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/${DOMAIN}/privkey.pem;

  location /oauth2-client {
    proxy_pass http://oauth2-client:85/;
  }
  location /zuul-server/ {
    client_max_body_size 50M;
    proxy_pass http://zuul-server:8080/;
  }
  location / {
    proxy_pass http://cms-client:85/;
  }
}
